<div class="jumbotron">
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
      <div class="progress">
        <div id="time-left" class="progress-bar progress-bar-striped active"
            role="progressbar" aria-valuenow="10:00" aria-valuemin="10:00" aria-valuemax="00:00"
            data-seconds-left="<%= @seconds %>">
        </div>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" style="height: 250px">
    <% @bet_types.each do |type| %>
      <div class="col-md-4 col-sm-6 col-xs-12 bet">
        <h2><%= type.label %></h2>
        <%= form_for @bet, remote: true, namespace: type.label, html: { autocomplete: 'off' } do |f| %>
          <% type.choices.each do |choice| %>
            <div class="radio">
              <%= label_tag do %>
                <%= f.radio_button :choice, choice.label %>
                <%= choice.label %>
              <% end %>
            </div>
          <% end %>
          <div class="input-group">
            <span class="input-group-addon preview-amount">0</span>
            <%= f.range_field :amount, class: 'form-control bet-amount', in: 0..current_user.balance, step: 10 %>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success">Bet</button>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>