<div class="jumbotron">
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
      <h2 style="text-align: center"><%=t :ROUND_ENDS_IN %></h2>
      <div class="progress">
        <div id="time-left" class="progress-bar"
            role="progressbar" aria-valuenow="10:00" aria-valuemin="10:00" aria-valuemax="00:00"
            data-seconds-left="<%= @seconds %>">
        </div>
      </div>
    </div>
    <div id="alert" class="col-sm-6 col-sm-offset-3 col-xs-12"></div>
  </div>
</div>
<div class="container">
  <div class="row" style="height: 280px">
    <% @bet_types.each do |type| %>
      <div class="col-md-4 col-sm-6 col-xs-12 bet">
        <h3><%=t type.label %></h3>
        <% bet = @bets[type.label] %>
        <% cancel = bet.amount != 0 %>
        <%= form_for bet, remote: true, namespace: type.label, method: cancel ? 'delete' : 'post', html: { autocomplete: 'off' } do |f| %>
          <% unless cancel %>
            <input type="hidden" name="_method" value="post">
          <% end %>
          <%= f.fields_for type do |ft| %>
            <%= ft.hidden_field :label  %>
          <% end %>
          <% type.choices.each do |choice| %>
            <div class="radio">
              <%= label_tag do %>
                <%= f.radio_button :choice, choice.label, checked: choice == bet.choice, disabled: cancel %>
                <%=t choice.label %>
              <% end %>
              <span style="float: right" data-toggle="tooltip" data-placement="left" title="<%=t :ODDS %>"><%= '%.2f' % [choice.odds] %></span>
            </div>
          <% end %>
          <div class="input-group">
            <span class="input-group-addon preview-amount"><%= bet.amount %></span>
            <% range_class = %w(form-control bet-amount) %>
            <% range_class << 'hidden' if cancel %>
            <%= f.range_field(
              :amount,
              class: range_class,
              in: 0..@user.balance,
              step: @user.balance < 10 ? @user.balance : 10
            ) %>
            <span class="input-group-btn">
              <% if cancel %>
                <button type="submit" class="btn btn-danger"><%=t :CANCEL %></button>
              <% else %>
                <button type="submit" class="btn btn-success"><%=t :BET %></button>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>