<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1><%=t :PLAY_NOW %></h1>
        <p>
          <%=t :PLAY_NOW_DESCRIPTION %>
        </p>
        <p><%= link_to "#{t(:START_PLAYING)} &raquo;".html_safe, play_path, class: 'btn btn-primary btn-lg', role: 'button' %></p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2><%=t :STATISTICS %></h2>
      <p><%=t :STATISTICS_DESCRIPTION %></p>
      <p><a class="btn btn-default" href="#" role="button"><%=t :MORE %> &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2><%=t :BETS %></h2>
      <p><%=t :BETS_DESCRIPTION %></p>
      <p><a class="btn btn-default" href="#" role="button"><%=t :MORE %> &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2><%=t :BETS %></h2>
      <p><%=t :BETS_DESCRIPTION %></p>
      <p><a class="btn btn-default" href="#" role="button"><%=t :MORE %> &raquo;</a></p>
    </div>
  </div>
</div>