<!DOCTYPE html>
<html>
<head>
  <title>Gambling Legend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="notify"></div>

  <%= render partial: 'layouts/navbar.html' %>

  <%= yield %>

  <div class="container">
    <hr>

    <footer style="text-align: center">
      <p>
        &copy; 2015 AmShaegar & Freigeist - <%= t(:ISSUES_TEXT, prelink: '<a href="https://github.com/AmShaegar13/gambling_legend/issues" target="_blank">', postlink: '</a>').html_safe %>
      </p>
      <p>
        <small>Gambling Legend isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends &copy; Riot Games, Inc.</small>
      </p>
    </footer>
  </div>

</body>
</html>
