<!DOCTYPE html>
<html>
<head>
  <title>Gambling Legend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Gambling Legend</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <% if User.current_user.guest? %>
          <%= form_tag sign_in_path, method: :post, class: 'navbar-form navbar-right' do %>
            <div class="form-group">
              <%= label_tag :name_or_email, 'Name or Email', class: %w(control-label sr-only) %>
              <%= text_field_tag :name_or_email, flash[:failed_login], class: 'form-control', placeholder: 'Name or Email' %>
            </div>
            <div class="<%= password_class %>">
              <%= label_tag :password, 'Password', class: 'control-label sr-only' %>
              <%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Password', 'aria-describedby' => 'login_failed_error' %>
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <span id="login_failed_error" class="sr-only">(error)</span>
            </div>
            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>Sign in</button>
            <%= link_to new_user_path, class: 'btn btn-primary', role: 'button' do %>
              <i class="glyphicon glyphicon-pencil"></i>Sign Up
            <% end %>
          <% end %>
        <% else %>
          <div class="navbar-form navbar-right">
            <%= link_to user_path, class: 'btn btn-link', role: 'button' do %>
              <i class="glyphicon glyphicon-user"></i><%= User.current_user.name %>
            <% end %>
            <%= link_to refill_user_path, class: 'btn btn-link', role: 'button', id: 'balance' do %>
              <i class="glyphicon glyphicon-piggy-bank"></i><%= User.current_user.balance %>
            <% end %>
            &nbsp;
            <%= link_to sign_out_path, class: 'btn btn-danger', role: 'button' do %>
              <i class="glyphicon glyphicon-off"></i>Sign Out
            <% end %>
          </div>
        <% end %>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <%= yield %>

  <div class="container">
    <hr>

    <footer>
      <p>&copy; AmShaegar 2015 <small>Gambling Legend isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends &copy; Riot Games, Inc.</small></p>
    </footer>
  </div>

</body>
</html>
